body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffaf5;
    color: #333;
}

header {
    background-color: #7b2d26;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #4f1d19;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    background-color: #f3dfc8;
}

.hero h2 {
    color: #7b2d26;
    font-size: 35px;
}

.hero p {
    font-size: 19px;
}

.btn {
    display: inline-block;
    background-color: #7b2d26;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
}

.btn:hover {
    background-color: #4f1d19;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 45px 20px;
}

section h2 {
    text-align: center;
    color: #7b2d26;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px #cccccc;
}

.card h3 {
    color: #7b2d26;
}

footer {
    background-color: #4f1d19;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    color: white;
}